@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --background-gradient: linear-gradient(180deg, #1c1a27, #3d1635, #801357, #b8235a, #e7627d, #f37e95);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background: var(--background-gradient);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.app-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(1, 1, 1, 0.4);
    max-width: 600px;
    height: 300px;
    padding:1.5rem 1rem;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 15px 50px 15px;
}

.header {
    display: flex;
}

.header input {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: transparent;
    border-bottom: 2px solid transparent;
    flex: 1;
    color: white;
    transition: 0.5s all;
}

.header input:focus, .header input:hover {
    border-bottom: 2px solid white;
}

.header input::placeholder {
    font-weight: bold;
}

.header button {
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    font-weight: bold;
    background-color: rgba(1, 1, 1, 0.3);
    color: white;
    transition: 0.5s all;
}

.header button:hover {
    background-color: rgba(1, 1, 1, 0.5);
    cursor: pointer;
}

.header button:active {
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

.todo-list {
    list-style-type: none;
    overflow-y: auto;
    margin: 1rem;
    flex: 1;
}

.todo-list::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: transparent;
}

.todo-list::-webkit-scrollbar {   
	width: 0.5rem;
	background-color: transparent;
}

.todo-list::-webkit-scrollbar-thumb {     
    border-radius: 1rem;
	background-color: rgba(1, 1, 1, 0.3);
}


.todo-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
    text-align: left;
    transition: 0.5s all;
    color: white;
    transition: 0.3 all;
}

.todo-list li:hover {
   background-color: rgba(1, 1, 1, 0.3);
   cursor: pointer;
}

.todo-list li img {
    width: 18px;
    border-radius: 1rem;
    transition: 0.5s all;
 }

.todo-list li img:hover {
    background-color: rgba(1, 1, 1, 0.5);
 }

.todo-list li::before {
    content: '';
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("./images/unchecked.svg");
    background-size: cover;
    background-position: center;
    height: 16px;
    width: 16px;
}

.todo-list li.checked { 
    text-decoration: line-through;
    color: #f37e95;
    background-color:rgba(1, 1, 1, 0.3);
}

.todo-list li.checked::before {
    content: '';
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("./images/checked.svg");
    background-size: cover;
    background-position: center;
    height: 16px;
    width: 16px;
}

.footer {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.footer button {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-weight: bold;
    background-color: rgba(1, 1, 1, 0.3);
    color: white;
    transition: 0.5s all;
}

.footer button:hover {
    background-color: rgba(1, 1, 1, 0.5);
    cursor: pointer;
}

.footer button:active {
    background-color: #fff;
    color: #000;
    cursor: pointer;
}